.Clock {
    font-family: 'Tajawal', sans-serif;
    text-align: center;
}
.Hour {
    font-size: 100px;
}
.Second {
    font-size: 40px;
    padding-top: 45px;
}
.TOD {
    font-family: 'Caveat', cursive;
}