.Clock {
    font-family: 'Montserrat', sans-serif;
    color: black(0, 0, 92);
    text-align: center;
}
.Hour {
    font-size: 80px;
}
.Second {
    font-size: 40px;
    padding-top: 45px;
    font-family: 'Montserrat', sans-serif;
}